table#project-table(class="table table-bordered table-hover table-vcenter js-dataTable-full-pagination")
	thead
		tr
			th Project
			th Target
			th Source Path
			th Destination Path
			th(class="d-none d-sm-table-cell", style="width: 10%;") Status
			td 
	tbody
