header#page-header
	div(class="content-header")
		div(class="content-header-section")
			//- button(type="button", class="btn btn-circle btn-dual-secondary", data-toggle="layout", data-action="sidebar_toggle")
			//- 	i(class="fa fa-navicon")
		div(class="content-header-section")
			div(class="btn-group", role="group")
				button#page-header-user-dropdown(type="button", class="btn btn-rounded btn-dual-secondary", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
					if (user)
						| Hello! #{user.fullName}
					else
						| Hello! Anonymous
					i(class="fa fa-angle-down ml-5")
				div(class="dropdown-menu dropdown-menu-right min-width-150", aria-labelledby="page-header-user-dropdown")
					if (!user)
						a(class="dropdown-item", href='javascript:;', data-toggle="modal", data-target="#modal-login")
							i(class="si si-login mr-5")
								|  Login
					else 
						a(class="dropdown-item", href="javascript:;")
							i(class="si si-user mr-5")
							|  Profile (coming soon)
						div(class="dropdown-divider")
						a(class="dropdown-item", href=app.baseUrl('auth/logout'))
							i(class="si si-logout mr-5")
							|  Logout
#modal-login(class="modal fade", tabindex="-1", role="dialog", aria-labelledby="modal-login", aria-hidden="true")
	div(class="modal-dialog", role="document")
		div(class="modal-content")
			form(action=app.baseUrl('auth/login'), method="POST", onSubmit="Codebase.loader('show', 'bg-gd-sea')")
				div(class="block block-themed block-transparent mb-0")
					div(class="block-header bg-primary-dark")
						h3(class="block-title") Login
						div(class="block-options")
							button(type="button", class="btn-block-option", data-dismiss="modal", aria-label="Close")
								i(class="si si-close")
					div(class="block-content")
						div(class="form-group")
							label Username
							input(type="text", class="form-control", name="username", placeholder="Enter Username..", required)
						div(class="form-group")
							label Password
							input(type="password", class="form-control", name="password", placeholder="Enter Password..", required)
				div(class="modal-footer")
					button(type="button", class="btn btn-alt-secondary", data-dismiss="modal") Close
					button(type="submit", class="btn btn-alt-success")
						i(class="fa fa-check")
						|  Login