block append links
    link(rel="stylesheet", href=app.baseUrl('js/plugins/datatables/dataTables.bootstrap4.min.css'))

block append scripts
    script(src=app.baseUrl("js/plugins/datatables/jquery.dataTables.min.js"))
    script(src=app.baseUrl("js/plugins/datatables/dataTables.bootstrap4.min.js"))
    script(src=app.baseUrl("custom/js/plugins/datatables-lang.js"))